{{log @model.assetTypes}}
<div class="container container--assets-list">
  <Aside  @assetTypes={{@model.assetTypes}} @onchange={{@onchange}}/>
  <div class="list-card">
    <Ui::Card />
    <Ui::Card />
    <Ui::Card />
    <Ui::Card />
    <Ui::Card />
    <Ui::Card />
    <Ui::Card />
    <Ui::Card />

  </div>
</div>