
html {
  padding: 0;
  margin: 0;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  position: relative;
  z-index: 0;
  background: #F4F5F7;
  color: #575757;
}
.clr:after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  clear: both;
}
.clearfix {
  clear: both;
}
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a img {
  border: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}
h1 {
  line-height: 24px;
  text-align: center;
  position: relative;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
form,
menu,
iframe {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}
ol,
ul,
dl,
li,
dt,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}
* {
  outline: none;
  box-sizing: border-box;
}
main {
  position: relative;
}
img {
  object-fit: cover;
}

.container{
  max-width: 1254px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 0;
}

.container--assets-list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 22px;

}

.title{
  font-weight: 900;
  line-height: 18px;
  color: #575757;
}

.title--margin-s{
  margin-bottom: 8px;
}
.title--margin-xs{
  margin-bottom: 12px;
  text-transform: capitalize;
}

.aside{
  max-width: 296px;
  width: 100%;
}
.aside-content{
  background: #fff;
  border-radius: 4px;
  padding: 20px 16px;
}
.aside__item{
  display: flex;
  align-items: center;
  padding: 10px 0;
  color: #575757;
}
.aside__item input{
  margin-right: 10px;
}
.aside__item svg {
  width: 12px;
  height: 11px;
  margin-right: 6px;
}
.item--0 svg {
  height: 14px;
}
.item--1 svg {
  height: 10px;
}

.item--3 svg {
  width: 16px;
  height: 12px;
}

.item--4 svg {
  width: 16px;
  height: 12px;
}
.item--5 svg {
  width: 11px;
}

.checkbox-field {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0;
}
.checkbox-field label{
  display: flex !important;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex: 0 0 18px;
  margin: 0 !important;
  padding: 0 !important;
}

.checkbox-field span {
  margin-left: 12px;
}

.list-card{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  max-width: 936px;
}

.card__wrapper-img{
  position: relative;
  margin-bottom: 16px;
  min-height: 205px;
}
.card__img{
  max-width: 216px;
  min-height: 216px;
  height: 100%;
  border-radius: 3px 3px 0 0;
}

.card{
  background: #fff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.card:hover .used-total{
  opacity: 1;
  z-index: 2;
}

.card__content{
  padding: 0 15px;
}

.card__content .tooltip{
  max-width: 154px;
  border-radius: 4px;
  border-color: transparent;
  color: #575757;
  font-size: 10px;
  padding: 12px;
  filter: drop-shadow(0px 6px 16px rgba(0, 0, 0, 0.16));

}
.card__content .tooltip .card__tags-item{
  margin-bottom: 6px;
}
.tooltip-arrow.ember-popover-arrow{
  display: none;
}

.card__tags{
  margin-bottom: 8px;
  font-size: 10px;
}
.card__tags-item{
  background: #F4F5F7;
  border-radius: 3px;
  margin-right: 4px;
  padding: 2px 4px;
  display: inline-block;
}
.card__tags-count{
  padding: 2px 4px;
  border-radius: 3px;
  border: 1px solid #F4F5F7;
}
.card__description{
  display: inline-block;
  margin-bottom: 16px;
}
.card__footer{
  padding: 10px 16px;
  border-top: 1px solid #F4F5F7;
  display: flex;
  font-size: 10px;

}
.card__footer-icon{
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background: #E4E7ED;
  text-align: center;
  line-height: 24px;
  margin-right: 8px;
}
.external-link-name{
  color: #575757;
}
.external-link{
  color: #999999;
  display: block;
}

.used-total{
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 4px 4px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  transition: 0.3s;
}

.bookmark{
  text-align: right;
  padding: 16px;
}
.used-total__footer{
  color: #fff;
  padding: 0 16px 13px;
}
.used-number{
  font-size: 16px;
  font-weight: 900;
}
.used--description{
  margin-bottom: 8px;
  display: inline-block;
}

.bth{
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  border-radius: 4px;
  padding: 9px;
  display: inline-block;
  min-width: 184px;
  font-weight: 700;
  cursor: pointer;
}
.bth--blue{
  background: #4797FF;
}

.bth--white{
  background: transparent;
  border: 1px solid #fff;
}


