<div class="card">
  <img src="./assets/images/photo.jpg" alt="" class="card__img">
  <div class="card__content">
    <h3 class="title title--margin-xs">
      {{svg-jar '#Template' width="12" height="14"}}
      Digestzen Flash Sale
    </h3>
    <span class="card__description">Flash Sale! 5% off DigestZen®...</span>
  </div>
</div>